<% layout("layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">


        <h3>Edit your listing Listing</h3>
        <form method="POST" action="/listings/<%= listing._id  %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                <div class="valid-feedback">Title Looks good</div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                <div class="invalid-feedback">Please enter a short description</div>
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label">Current Image</label><br>
                <img src="<%= originalImageUrl %>" alt="Current Listing Image" width="300" class="rounded mb-2">
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input name="listing[image]"  type="file" class="form-control" >
            
            </div>
            
            
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control"required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
            
            
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                <div class="invalid-feedback">Location should be valid</div>
            </div>
            
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="listing[category]" class="form-control" required>
                    <option value="trending" <%= listing.category === "trending" ? "selected" : "" %>>Trending</option>
                    <option value="rooms" <%= listing.category === "rooms" ? "selected" : "" %>>Rooms</option>
                    <option value="beachfront" <%= listing.category === "beachfront" ? "selected" : "" %>>Beachfront</option>
                    <option value="mountains" <%= listing.category === "mountains" ? "selected" : "" %>>Mountains</option>
                    <option value="city" <%= listing.category === "city" ? "selected" : "" %>>City</option>
                    <option value="pool" <%= listing.category === "pool" ? "selected" : "" %>>Pool</option>
                    <option value="forest" <%= listing.category === "forest" ? "selected" : "" %>>Forest</option>
                    <option value="gym" <%= listing.category === "gym" ? "selected" : "" %>>Gym</option>
                    <option value="pet-friendly" <%= listing.category === "pet-friendly" ? "selected" : "" %>>Pet Friendly</option>
                    <option value="budget" <%= listing.category === "budget" ? "selected" : "" %>>Budget</option>
                    <option value="favorites" <%= listing.category === "favorites" ? "selected" : "" %>>Favorites</option>
                </select>
            </div>


            <button class="btn btn-dark edit-btn mt-3">Edit</button>


        </form>
    </div>
</div>

<script src="/js/script.js"></script>